-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('admin', 'client', 'interviewee');

-- CreateEnum
CREATE TYPE "JobStatus" AS ENUM ('draft', 'active', 'paused', 'closed');

-- CreateEnum
CREATE TYPE "CandidateStatus" AS ENUM ('sourced', 'contacted', 'interviewed', 'advanced', 'rejected');

-- CreateEnum
CREATE TYPE "InterviewStatus" AS ENUM ('scheduled', 'in_progress', 'completed', 'cancelled', 'missed');

-- CreateEnum
CREATE TYPE "InterviewLanguage" AS ENUM ('en', 'ar', 'hi', 'ur', 'bn');

-- CreateEnum
CREATE TYPE "ClientType" AS ENUM ('company', 'individual');

-- CreateEnum
CREATE TYPE "ClientStatus" AS ENUM ('active', 'inactive', 'pending');

-- DropForeignKey
ALTER TABLE "candidates" DROP CONSTRAINT "FK_426d378178da5713f1ab30daabc";

-- DropForeignKey
ALTER TABLE "clients" DROP CONSTRAINT "FK_d9da07105d53c46866e802f2590";

-- DropForeignKey
ALTER TABLE "interviews" DROP CONSTRAINT "FK_86c6a5b65c91b118189dc011aaa";

-- DropForeignKey
ALTER TABLE "interviews" DROP CONSTRAINT "FK_9b47fb5a4e06ccb14d20d2f06fd";

-- DropForeignKey
ALTER TABLE "interviews" DROP CONSTRAINT "FK_d0757615c93f97a15702d673bc5";

-- DropForeignKey
ALTER TABLE "jobs" DROP CONSTRAINT "FK_80472a2d1a7369d39f241c5f5f2";

-- DropIndex
DROP INDEX "IDX_CANDIDATES_JOB_ID";

-- DropIndex
DROP INDEX "IDX_CANDIDATES_STATUS";

-- DropIndex
DROP INDEX "IDX_CLIENTS_CREATED_BY";

-- DropIndex
DROP INDEX "IDX_CLIENTS_EMAIL";

-- DropIndex
DROP INDEX "IDX_CLIENTS_STATUS";

-- DropIndex
DROP INDEX "IDX_CLIENTS_TYPE";

-- DropIndex
DROP INDEX "IDX_INTERVIEWS_CANDIDATE_ID";

-- DropIndex
DROP INDEX "IDX_INTERVIEWS_JOB_ID";

-- DropIndex
DROP INDEX "IDX_INTERVIEWS_RECRUITER_ID";

-- DropIndex
DROP INDEX "IDX_INTERVIEWS_STATUS";

-- DropIndex
DROP INDEX "IDX_JOBS_RECRUITER_ID";

-- DropIndex
DROP INDEX "IDX_JOBS_STATUS";

-- AlterTable
ALTER TABLE "candidates" DROP CONSTRAINT "PK_140681296bf033ab1eb95288abb",
RENAME CONSTRAINT "PK_140681296bf033ab1eb95288abb" TO "candidates_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "firstName" SET DATA TYPE TEXT,
ALTER COLUMN "lastName" SET DATA TYPE TEXT,
ALTER COLUMN "email" SET DATA TYPE TEXT,
ALTER COLUMN "phone" SET DATA TYPE TEXT,
ALTER COLUMN "location" SET DATA TYPE TEXT,
ALTER COLUMN "sourcePlatform" SET DATA TYPE TEXT,
DROP COLUMN "status",
ADD COLUMN     "status" "CandidateStatus" NOT NULL DEFAULT 'sourced',
ALTER COLUMN "jobId" SET DATA TYPE TEXT,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "candidates_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "clients" DROP CONSTRAINT "PK_f1ab7cf3a5714dbc6bb4e1c28a4",
RENAME CONSTRAINT "PK_f1ab7cf3a5714dbc6bb4e1c28a4" TO "clients_pkey",
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
DROP COLUMN "type",
ADD COLUMN     "type" "ClientType" NOT NULL,
ALTER COLUMN "email" SET DATA TYPE TEXT,
ALTER COLUMN "phone" SET DATA TYPE TEXT,
ALTER COLUMN "city" SET DATA TYPE TEXT,
ALTER COLUMN "state" SET DATA TYPE TEXT,
ALTER COLUMN "country" SET DATA TYPE TEXT,
ALTER COLUMN "postalCode" SET DATA TYPE TEXT,
DROP COLUMN "status",
ADD COLUMN     "status" "ClientStatus" NOT NULL DEFAULT 'active',
ALTER COLUMN "companyName" SET DATA TYPE TEXT,
ALTER COLUMN "companyRegistrationNumber" SET DATA TYPE TEXT,
ALTER COLUMN "taxId" SET DATA TYPE TEXT,
ALTER COLUMN "vatNumber" SET DATA TYPE TEXT,
ALTER COLUMN "industry" SET DATA TYPE TEXT,
ALTER COLUMN "companySize" SET DATA TYPE TEXT,
ALTER COLUMN "website" SET DATA TYPE TEXT,
ALTER COLUMN "contactPersonFirstName" SET DATA TYPE TEXT,
ALTER COLUMN "contactPersonLastName" SET DATA TYPE TEXT,
ALTER COLUMN "contactPersonEmail" SET DATA TYPE TEXT,
ALTER COLUMN "contactPersonPhone" SET DATA TYPE TEXT,
ALTER COLUMN "contactPersonTitle" SET DATA TYPE TEXT,
ALTER COLUMN "firstName" SET DATA TYPE TEXT,
ALTER COLUMN "lastName" SET DATA TYPE TEXT,
ALTER COLUMN "dateOfBirth" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "nationalId" SET DATA TYPE TEXT,
ALTER COLUMN "passportNumber" SET DATA TYPE TEXT,
ALTER COLUMN "createdById" SET DATA TYPE TEXT,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "clients_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "interviews" DROP CONSTRAINT "PK_fd41af1f96d698fa33c2f070f47",
RENAME CONSTRAINT "PK_fd41af1f96d698fa33c2f070f47" TO "interviews_pkey",
DROP COLUMN "recruiterId",
ADD COLUMN     "clientId" TEXT NOT NULL,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "candidateId" SET DATA TYPE TEXT,
ALTER COLUMN "jobId" SET DATA TYPE TEXT,
DROP COLUMN "status",
ADD COLUMN     "status" "InterviewStatus" NOT NULL DEFAULT 'scheduled',
DROP COLUMN "language",
ADD COLUMN     "language" "InterviewLanguage" NOT NULL DEFAULT 'en',
ALTER COLUMN "scheduledAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "startedAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "completedAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "dailyRoomId" SET DATA TYPE TEXT,
ALTER COLUMN "videoUrl" SET DATA TYPE TEXT,
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "interviews_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "jobs" DROP CONSTRAINT "PK_cf0a6c42b72fcc7f7c237def345",
RENAME CONSTRAINT "PK_cf0a6c42b72fcc7f7c237def345" TO "jobs_pkey",
DROP COLUMN "recruiterId",
ADD COLUMN     "clientId" TEXT NOT NULL,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "title" SET DATA TYPE TEXT,
ALTER COLUMN "experienceLevel" SET DATA TYPE TEXT,
ALTER COLUMN "location" SET DATA TYPE TEXT,
ALTER COLUMN "salaryRange" SET DATA TYPE TEXT,
DROP COLUMN "status",
ADD COLUMN     "status" "JobStatus" NOT NULL DEFAULT 'draft',
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "jobs_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "users" DROP CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433",
RENAME CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" TO "users_pkey",
ADD COLUMN     "companyId" TEXT,
ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "email" SET DATA TYPE TEXT,
ALTER COLUMN "password" SET DATA TYPE TEXT,
ALTER COLUMN "firstName" SET DATA TYPE TEXT,
ALTER COLUMN "lastName" SET DATA TYPE TEXT,
DROP COLUMN "role",
ADD COLUMN     "role" "UserRole" NOT NULL DEFAULT 'client',
ALTER COLUMN "createdAt" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updatedAt" DROP DEFAULT,
ALTER COLUMN "updatedAt" SET DATA TYPE TIMESTAMP(3),
ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");

-- DropTable
DROP TABLE "migrations";

-- DropEnum
DROP TYPE "candidates_status_enum";

-- DropEnum
DROP TYPE "clients_status_enum";

-- DropEnum
DROP TYPE "clients_type_enum";

-- DropEnum
DROP TYPE "interviews_language_enum";

-- DropEnum
DROP TYPE "interviews_status_enum";

-- DropEnum
DROP TYPE "jobs_status_enum";

-- DropEnum
DROP TYPE "users_role_enum";

-- CreateTable
CREATE TABLE "companies" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "tradeLicenseNumber" TEXT,
    "registrationNumber" TEXT,
    "vatTrn" TEXT,
    "corporateTaxTrn" TEXT,
    "freeZoneName" TEXT,
    "licenseType" TEXT,
    "licenseExpiryDate" TIMESTAMP(3),
    "industry" TEXT,
    "companySize" TEXT,
    "website" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "address" TEXT,
    "poBox" TEXT,
    "city" TEXT,
    "emirate" TEXT,
    "country" TEXT DEFAULT 'UAE',
    "postalCode" TEXT,
    "logoUrl" TEXT,
    "description" TEXT,
    "authorizedSignatory" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "companies_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "companies_tradeLicenseNumber_key" ON "companies"("tradeLicenseNumber");

-- CreateIndex
CREATE UNIQUE INDEX "companies_registrationNumber_key" ON "companies"("registrationNumber");

-- CreateIndex
CREATE UNIQUE INDEX "companies_vatTrn_key" ON "companies"("vatTrn");

-- CreateIndex
CREATE UNIQUE INDEX "companies_corporateTaxTrn_key" ON "companies"("corporateTaxTrn");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "companies"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "jobs" ADD CONSTRAINT "jobs_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "candidates" ADD CONSTRAINT "candidates_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "jobs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interviews" ADD CONSTRAINT "interviews_candidateId_fkey" FOREIGN KEY ("candidateId") REFERENCES "candidates"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interviews" ADD CONSTRAINT "interviews_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES "jobs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interviews" ADD CONSTRAINT "interviews_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "clients" ADD CONSTRAINT "clients_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

